<%if @article %>
  <div class ="center_image"><img src="<%= image_path("Kindrd_food_notag_300.jpg") %>" width="640"  alt "the knindrd logo" align = "middle"/></div>

  <%= form_for @article do |f|%>
   <% if @article.errors.any?%>
   <div id="error_explanation">
     <h2> <%= pluralize(@article.errors.count, "Error")%>
       prevented this article from being saved: </h2>
       <ul>
       <% @article.errors.full_messages.each do |msg|%>
       <li><%=msg%> </li>
         <%end%>
       </ul>
     </div>
  <%end%>
<div class="article">
  <p>

    <%= f.text_field :title, placeholder: 'Title' %>
  </p>
  <p>
    <%= f.text_area :content, placeholder: 'Let the blogging begin!' %>
  </p>
  <p>
  <%= f.submit %>
  </p>
</div>
  <%end%>
<%else%>
  <h1> No articles </h1>
<%end%>
