<style>
.center_image {
  margin: auto;
  width: 50%

}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
  float: left;
  color: white;
  width: 300px;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
  background-color: rgb(244, 141, 70);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
background: rgb(241,101,48); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,101,48,1) 2%, rgba(244,141,70,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(241,101,48,1)), color-stop(100%,rgba(244,141,70,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16530', endColorstr='#f48d46',GradientType=0 ); /* IE6-9 */

}

a {
    padding: 10px 15px;
    text-decoration: none;
    background: #3E9E4C;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 7px;
}
a:hover {
    background: #139247;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

</style>
<div class ="center_image"><img src="<%= image_path("Kindrd_food_notag_300.jpg") %>" width="640"  alt "the knindrd logo" align = "middle"/></div>
<div class="float_center">
  <div class ="child">
    <p> <%= @article.title %> </p>
    <p> <%= @article.content %> </p>
    <p> <%= link_to 'Edit', edit_article_path(@article)%><%= link_to 'Back to Articles', articles_path %></p>
  </div>
  <div class="child">
    <form action="<%= article_articles_tags_url(@article) %>" method="post">
      <%= auth_token %>
      <%Tag.find(:all).each do |tag| %>
      <div>
        <%= check_box_tag "article[tag_ids][]", tag.id, @article.tags.include?(tag)%>
        <%= tag.name %>
      </div>
      <%end%>
      <button> Add Tags </button>
    </form>
  </div>
</div>
