<style>
.center_image {
  margin: auto;
  width: 50%
}
.center_text{
  width: 300px;
  margin: auto;
  padding: 10px;
  text-align: center;
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
  background-color: rgb(244, 141, 70);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
background: rgb(241,101,48); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,101,48,1) 2%, rgba(244,141,70,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(241,101,48,1)), color-stop(100%,rgba(244,141,70,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,101,48,1) 2%,rgba(244,141,70,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16530', endColorstr='#f48d46',GradientType=0 ); /* IE6-9 */

}


@font-face {
    font-family: 'veggieburgerbold';
    src: url('veggibol-webfont.eot');
    src: url('veggibol-webfont.eot?#iefix') format('embedded-opentype'),
         url('veggibol-webfont.woff') format('woff'),
         url('veggibol-webfont.ttf') format('truetype'),
         url('veggibol-webfont.svg#veggieburgerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'veggieburgerregular';
    src: url('veggilig-webfont.eot');
    src: url('veggilig-webfont.eot?#iefix') format('embedded-opentype'),
         url('veggilig-webfont.woff') format('woff'),
         url('veggilig-webfont.ttf') format('truetype'),
         url('veggilig-webfont.svg#veggieburgerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2{
  text-align: center;
  font-weight: bold;
}

</style>


<h2>Sign in</h2>
<div class ="center_image"><img src="<%= image_path("Kindrd_food_notag_300.jpg") %>" width="640"  alt "the knindrd logo" align = "middle"/></div>
<h2> Let's give them somethin' to talk about... </h2>
<div class="center_text">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
